<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appusuario">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppUsuario">
        <activity
            android:name=".ListProdBannerActivity03"
            android:exported="false" />
        <activity
            android:name=".ListProdBannerActivity02"
            android:exported="false" />
        <activity
            android:name=".ListProdBannerActivity01"
            android:exported="false" />
        <activity
            android:name=".ListProdCategActivity11"
            android:exported="false" />
        <activity
            android:name=".ListProdCategActivity10"
            android:exported="false" />
        <activity
            android:name=".ListProdCategActivity09"
            android:exported="false" />
        <activity
            android:name=".ListProdCategActivity08"
            android:exported="false" />
        <activity
            android:name=".ListProdCategActivity07"
            android:exported="false" />
        <activity
            android:name=".ListProdCategActivity06"
            android:exported="false" />
        <activity
            android:name=".ListProdCategActivity05"
            android:exported="false" />
        <activity
            android:name=".ListProdCategActivity04"
            android:exported="false" />
        <activity
            android:name=".ListProdCategActivity03"
            android:exported="false" />
        <activity
            android:name=".ListProdCategActivity02"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListProdCategActivity01"
            android:exported="false" />
    </application>

</manifest>